
$margin-left:1000px;
$bg:rgba(51, 0, 0, 0.795);
$w:white;
$no:none;
.content{
  background-color:$bg;
height: auto;
}
.nav{
  background-color: rgb(28, 0, 0);
    display: flex;
  flex-direction: row;
  grid-gap: 200px;
  padding-top: 20px;
  
}
.rigth{
@extend.nav;
  grid-gap: 20px;
  margin-left: 20px;
  margin-top:-20px;
  
}
.rigth a{
  text-decoration: $no;
  color: $w;
  
}
.rigth a:hover{
  @extend.po;
 background-color:rgba(232, 27, 75, 0.893);
 border-radius: 5px;
}
.drinks{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color:$bg;
  
}
.drinks img{
  height: 100%;
  width: 30%;
  
}
.drinks .card{
  background-color:$bg;
  border: none;
  color:rgba(255, 255, 255, 0.253);

}
.drinks .card :hover{
color: rgb(243, 177, 97);
cursor: pointer;
}
.po{
  text-align: center;
  color: $w;
}
.word{
  @extend.po;
  margin-right:200px;
  margin-top: 60px;
}
.word a{
text-decoration: $no;
color:rgb(211, 175, 182);
}
.word a:hover{
  color: rgb(243, 177, 97);
}
.rigt{
  float: right;
  margin-top:-350px;
  margin-right: -70px;
}
.lef{
  margin-top:50px;
  float: left;
}
.log{
  margin-left: 100px;
}
.line {
  @extend.po;
  width: 99%;
  padding-left: 1%;
  height: 1px;
 padding-bottom: 10px;
}
.inimage{
  @extend.po;
}
.bt{
  margin-left: 30%; 
}

